 <main class="">
  <div id="box" class="p-4 m-4 container">
    <h2 class="mb-4 pb-4 text-center"> Quiz Time!</h2>
    <div>
      <h3 class="my-4 text-center"> Category: Geography </h3>
      <h4 class="text-center"> Five questions</h4>
      {{#each questions}}
      <p id="question">{{question}}</p>

        {{#each answers}}
        <p class="my-4 text-center"></p>
        {{/each}}
<div class="mb-3">
  <label for="answerbox" class="form-label">Answer</label>
  <input type="text" class="form-control" id="answerbox" placeholder="your answer">
</div>

       <!-- submit button checks answer and sends user to next question -->
      <div class="d-flex justify-content-center">
        <button id="submit" class="btn btn-primary m-4" type="submit">Submit Answer</button>
      </div>
    </div>
    {{/each}}
  </div>
</main> 

{{!-- Test code!! --}}
  
   {{#each questions}}
  <h2>{{question}}</h2>
  <form>
    {{#each answers}}
      <div>
        <input type="radio" id="{{../id}}-{{@index}}" name="{{../id}}" value="{{@index}}">
        <label for="{{../id}}-{{@index}}">{{this}}</label>
      </div>
    {{/each}}
  </form>
{{/each}}
<script type="application/javascript" src="../js/quizLogic.js"></script>
<button onclick="submitQuiz()">Submit</button> 